.flexContainer {
  display: flex;
  .flexChild {
    width: 33.3%;
    &:nth-of-type(2) {
      font-size: 1.3rem;
    }
    .icon {
      font-size: 3rem;
      margin-right: 1rem;
    }
    .temperature {
      display: inline-block;
      font-size: 2.5rem;
      padding: 0 10px;
      line-height: 2.5rem;
      overflow: hidden;
      p {
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        margin: 0rem;
      }
    }
    .fieldName {
      float: left;
      width: 70%;
    }
    .fieldValue {
      text-align: right;
      float: right;
      width: 30%;
      white-space: nowrap;
    }
  }
}
