.card {
  height: 180px;
  &.selected {
    border: 4px solid orange;
  }
  .flexContainer {
    display: flex;
    flex-direction: column;
    .flexChild {
      padding: 8px 0;
      white-space: nowrap;
      .icon {
        font-size: 2.5rem;
      }
      .tempRange {
        > div {
          display: inline;
          padding: 0 5%;
        }
        .lo {
          color: #9aa0a6;
        }
      }
    }
  }
}
