.selected {
  border: 4px solid orange;
}
.flexContainer {
  display: flex;
  flex-direction: column;
  .flexChild {
    padding: 8px 0;
    .icon {
      font-size: 2.5rem;
    }
    .tempRange {
      > div {
        width: 50%;
        display: inline;
        padding: 0 6px;
      }
    }
    .lo {
      color: #9aa0a6;
    }
  }
}
