.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .flexChild {
    max-width: 800px;
    padding: 1rem;
  }
}
