.contentBlock {
  margin-bottom: 1rem;
}
.flexContainer {
  display: flex;
  .flexChild {
    white-space: nowrap;
    &:first-of-type {
      width: 50%;
      text-align: left;
    }
    &:last-of-type {
      width: 50%;
      text-align: right;
    }
    .icon {
      font-size: 3rem;
    }
  }
}
.forecastLink {
  font-size: 14px;
  text-align: right;
}
