.flexContainer {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  justify-content: center;
  .flexChild {
    padding: 1.5rem;
    align-items: center;
    .titleContainer {
      display: flex;
      flex-direction: row;
      > * {
        text-align: center;
        flex: 1 0 150px;
        justify-content: center;
      }
      .title {
        margin: 0;
        font-size: 1.5rem;
        font-weight: bold;
        white-space: nowrap;
      }
      button {
        float: right;
        white-space: nowrap;
      }
    }
  }
}
