.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1.5rem;
  .child {
    padding: 2rem;
    .title {
      font-size: 1.5rem;
      font-weight: bold;
      white-space: nowrap;
    }
    button {
      float: right;
      white-space: nowrap;
    }
  }
}
