.flexContainer {
  display: flex;
  .flexChild {
    white-space: nowrap;
    &:first-of-type {
      width: 30%;
      text-align: left;
    }
    &:last-of-type {
      width: 70%;
      text-align: right;
    }
    .icon {
      margin-bottom: 1rem;
      font-size: 3rem;
      padding-right: 18px;
    }
    .alignTop {
      display: inline-block;
      vertical-align: top;
    }
  }
}
