$search-box-height: 2.5rem;
$search-box-margin: 0.5rem 2rem;
$search-box-button-width: 100px;

.searchBox {
  height: $search-box-height;
  margin: $search-box-margin;
  button {
    width: $search-box-button-width;
  }
}
